body, html {
    margin: 0;
}
body {
    /* background-color: var(--beige-oscuro); */
    background-color: var(--azul);
    
}
* {
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --beige: #FFF5E1;
    --azul: #0C1844;
    --beige-oscuro: #ebe1ce;
    --rojo: #C80036;
    --rojo-claro: #FF6969;
    --azul-claro: #3A5BA0;
}

.header-logo {
    margin: 2.5rem 0px;
    width: 250px;
    height: 250px;
}
.header-p {
    margin: 0px;
    padding: 0px;
    /* color : var(--rojo);  Color original*/
    color: var(--azul-claro);
    font-size: 1.2rem;
}

/* OPCION LOGO EN EL MEDIO */
/*
.header-div {
    text-align: center;
    background-color: var(--beige);
    border-radius: 0% 0% 11% 11%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display : flex;
    flex-direction: column; 
    align-items: center;
    list-style: none;
}
.botones-h {
    text-decoration: none;
    color: var(--azul);
    font-weight: bold;
    font-size: large;
    padding: 10px 20px;
    border: 2px solid var(--azul);
    border-radius: 8px;
    background-color: var(--beige);
    box-shadow: 1px 1px 5px var(--beige-oscuro);
    transition: ease-out 0.07s;
} 
*/
/*---------------------------- */

/* OPCION LOGO EN MEDIO SIN HEADER  */
/* --------------------- */
header {
    padding-bottom: 50px;
    justify-items: center;
    height: 100%;
}
.header-div {
    background-color: var(--beige);
    text-align: center;
    box-shadow: 1px 2px 5px var(--beige-oscuro);
    width: 97%;
    border-radius: 0px 0px 10px 10px;
}
.header-div-opciones {
    display: flex;
    gap: 10rem;
    justify-content: center;
    font-size: large;
    padding: 20px 0 0 0;
}
.main-botones {
    border-radius: 20px;
    padding: 10px 35px;
    border: 1px solid white;
    box-shadow: 1px 2px 5px var(--beige-oscuro);
}
.botones-a  {
    margin: 15px 0px 25px 0px;
    border-radius: 20px;
    padding: 10px 35px;
    box-shadow: 1px 2px 5px var(--azul);
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--azul-claro);
    transition: transform ease 0.5s;
}
.botones-a:hover {
    transform: scale(1.2);
}

/* --------------------- */
/* 
MAIN
*/
main {
    background-color: var(--beige);
    padding-bottom: 50px;
    margin: 25px;
    box-shadow: 0 2px 8px var(--beige-oscuro);
    border-radius: 8px;
}
.accesorios {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 1.2rem;


}
.accesorios-texto { 
    color: var(--rojo);
}
.accesorios-imagen {
    margin-top: 25px;
    width: 250px;

}
.imagen-pin {
    rotate: calc(90deg);
}
.imagen-correa {
    width: 400px;
}
.accesorios-boton {
    color: white;
    width: 150px;
    height: 50px;
    text-align: center;
    align-content: center;
    margin: 0;
    border-radius: 20px;
    background-color: var(--azul);

    transition: ease 0.2s;
}
.accesorios-boton:hover {
    text-shadow: 1px 1px 5px white;
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 1px 1px 5px var(--azul-claro);
}
/*FOOTER*/
footer {
    height: 50px;
    text-align: center;
    border-top: 1px solid var(--beige-oscuro);
}

/* PARTE RESPONSIVE */
@media (max-width:800px) {
    .header-div-opciones {
        gap: 4rem;
    }
}
@media (max-width:600px) {
    .header-div-opciones {
        gap: 3rem;
    }
}