body, html {
    margin: 0;
}
body {
    /* background-color: var(--beige); */
    background-color: white;
}
* {
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --beige-claro: rgb(250, 244, 237);
    --borgoña: rgb(144, 42, 57);
    --beige: rgb(228, 210, 184);
    --rojo-claro: rgb(224, 118, 118);
    --rojo-fuerte: rgb(196, 6, 6);
    --rosa-claro: rgb(253, 238, 249);
}

.header-logo {
    margin: 2.5rem 0px;
    width: 250px;
    height: 250px;
}
.header-p {
    margin: 0px;
    padding: 0px;
    color : var(--borgoña);
    font-size: 1.2rem;
}
/* OPCION LOGO EN EL MEDIO */
/*
.header-div {
    text-align: center;
    background-color: var(--beige-claro);
    border-radius: 0% 0% 11% 11%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display : flex;
    flex-direction: column; 
    align-items: center;
    list-style: none;
}
.botones-h {
    text-decoration: none;
    color: var(--borgoña);
    font-weight: bold;
    font-size: large;
    padding: 10px 20px;
    border: 2px solid var(--borgoña);
    border-radius: 8px;
    background-color: var(--beige-claro);
    box-shadow: 1px 1px 5px var(--beige);
    transition: ease-out 0.07s;
} 
*/
/*---------------------------- */

/* OPCION LOGO EN MEDIO SIN HEADER  */
/* --------------------- */
header {
    padding-bottom: 50px;
}
.header-div {
    text-align: center;
    box-shadow: 1px 2px 5px var(--beige);
}
.header-div-opciones {
    display: flex;
    gap: 10rem;
    justify-content: center;
    font-size: large;
    padding: 20px 0 0 0;
}
.botones-h a{
    text-decoration: none;
    color: var(--rojo-fuerte);
    text-shadow: 1px 1px 5px var(--rojo-claro);
}
.botones-h:hover {
    transform: scale(1.2);

}
/* --------------------- */
/* 
MAIN
*/
main {
    padding-bottom: 50px;
}
.accesorios {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 1.2rem;
}
.accesorios-imagen {
    margin-top: 25px;
    width: 250px;

}
.correa {
    width: 400px;
}
.accesorios-boton {
    color: white;
    width: 150px;
    height: 50px;
    text-align: center;
    align-content: center;
    margin: 0;
    border-radius: 20px;
    background-color: var(--rojo-fuerte);
}
footer {
    height: 50px;
    text-align: center;
    border-top: 1px solid var(--beige);
}