body, html {
    margin: 0;
}
* {
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --beige-claro: rgb(250, 244, 237);
    --borgoña: rgb(144, 42, 57);
    --beige: rgb(228, 210, 184);
    --rojo-claro: rgb(224, 118, 118);
    --rojo-fuerte: rgb(196, 6, 6);
    --rosa-claro: rgb(253, 238, 249);
}
.header-p {
    margin: 0px;
    padding: 0px;
    color : var(--borgoña);

}

.header-logo {
    width: 150px;
    height: 150px;
    margin-left: 20px;
    margin-top: 10px;
}
.header-div {
    height: 285px;
    text-align: center;
    background-color: var(--beige-claro);
    border-radius: 0% 0% 11% 11%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display : flex;
    flex-direction: column; 
    align-items: center;
    list-style: none;
}
.botones-h {
    text-decoration: none;
    color: var(--borgoña);
    font-weight: bold;
    font-size: large;
    padding: 10px 20px;
    border: 2px solid var(--borgoña);
    border-radius: 8px;
    background-color: var(--beige-claro);
    box-shadow: 1px 1px 5px var(--beige);
    transition: ease-out 0.07s;
}
body {
    background-color: var(--beige);
}
/* 
MAIN
*/
main {

} 
.main-section-div-container {
    display: flex;
    background-color: var(--rosa-claro);
    padding: 10px 50px;
    height: 400px;
    align-items: center;
    gap: 4rem;
}
.main-section-title {
    width: 34rem;
}
.main-section-div-container-div-texto, .main-section-imagen-pins {
    margin-top: 10px;
}
.main-section-buttom {
    color: var(--blanco);
    background-color: var(--rojo-fuerte);
    box-shadow: 1px 1px 5px var(--rojo-claro);
    
    font-size: large;
    width: 150px;
    height: 60px;
    
    border-radius: 10px;
    text-align: center;
    align-content: center;

    transition: ease-out 0.07s;

}
.main-section-buttom:hover {
    scale: 1.05;
    cursor: pointer;
}
.main-section-imagen-pins {
    width: 550px;
    height: 350px;
}