
#pin-container {
    margin-top: 5rem;
    background-color: white;
    border: 1px solid black;
    width: 250px;
    height: 250px;
}
.pin {
    margin: 0;
    width: 250px;
    height: 250px;
    border: 1px solid black;
    border-radius: 50%;
}