body, html {
    margin: 0;
}
body {
    /* background-color: var(--beige-oscuro); */
    background-color: var(--azul);
    
}
* {
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --beige: #FFF5E1;
    --azul: #0C1844;
    --beige-oscuro: #ebe1ce;
    --rojo: #C80036;
    --rojo-claro: #FF6969;
    --azul-claro: #3A5BA0;
}

/* MARCO DEL EDITOR*/
.marco-editor {
    border-radius: 10px;
    margin-left: 50px;
    display: flex;
    background-color: white;
    width: 900px;
    height: 500px;
    position: absolute;
}
/* EDITOR */
#pin-container {
    margin-top: 5rem;
    background-color: white;
    border: 1px solid black;
    width: 250px;
    height: 250px;
}
.pin {
    margin: 0;
    width: 250px;
    height: 250px;
    border: 1px solid black;
    border-radius: 50%;
}

/* IMAGEN ELEGIDA */
#canvas-image {
}

/* CSS DE BOTONES */
.botones {
    border-radius: 20px;
    padding: 10px 35px;
    border: 1px solid white;
    box-shadow: 1px 2px 5px var(--beige-oscuro);
}
.botones  {
    margin: 15px 0px 25px 0px;
    border-radius: 20px;
    padding: 10px 35px;
    box-shadow: 1px 2px 5px var(--azul);
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--azul-claro);
    transition: transform ease 0.5s;
}
.botones:hover {
    transform: scale(1.2);
}