body, html {
    margin: 0;
}
* {
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --blanco: rgb(255, 255, 255);
    --gris-oscuro: rgb(22, 22, 22);
    --gris-claro: rgb(161, 161, 161);
    --rojo-claro: rgb(224, 118, 118);
    --rojo-fuerte: rgb(196, 6, 6);
    --rosa-claro: rgb(253, 238, 249);
}
p {
    color: var(--rojo-claro);
}

/* 
MAIN
*/
main {

} 
.main-section-div-container {
    display: flex;
    background-color: var(--rosa-claro);
    padding: 10px 50px;
    height: 400px;
    align-items: center;
    gap: 4rem;
}
.main-section-title {
    width: 34rem;
}
.main-section-div-container-div-texto, .main-section-imagen-pins {
    margin-top: 10px;
}
.main-section-buttom {
    color: var(--blanco);
    background-color: var(--rojo-fuerte);
    box-shadow: 1px 1px 5px var(--rojo-claro);
    
    font-size: large;
    width: 150px;
    height: 60px;
    
    border-radius: 10px;
    text-align: center;
    align-content: center;

    transition: ease-out 0.07s;

}
.main-section-buttom:hover {
    scale: 1.05;
    cursor: pointer;
}
.main-section-imagen-pins {
    width: 550px;
    height: 350px;
}